@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
body {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  margin: 0;
  font-family: 'MedievalSharp';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  background-image: url('/public/img/grassBg.jpg');
  height: 100%;
}
